.flex{
    display: flex;
}

.align-center{
    align-items: center;
}

.flex-column{
    flex-direction: column;
}

.bg-red{
    background-color: red;
}

.justify-center{
    justify-content: center;
}

